/*
 * CSS FILE DIVIDED IN 3 SECTIONS
 * - RESET CSS
 * - DEFAULT CSS ATTRIBUTES FOR HTML TAGS
 * - CSS CLASSES FOR DEMO
 */


/* **** RESET CSS **** */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* **** DEFAULT CSS ATTRIBUTES FOR HTML TAGS **** */

html, body {
	font-family: Arial, sans serif;
	font-size: 1em;
	color: #000000;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
}

/* **** CSS CLASSES FOR QUIZ **** */

h4 {
	font-weight: bold;
}
.title-row {
	display: block;
	margin-bottom: 20px;
}
#score {
	float: left;
	margin-left: 2px;
	margin-top: 2px;
	font-weight: bold;
	display: none;
}
#timer {
	float: right;
	margin-top: 2px;
	margin-right: 2px;
	font-size: 0.8em;
}
#gameContainer {
	align-content: center;
	height: 100%;
	width: 100%;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}
#gameBox {
	float: none;
	display: inline-block;
	width: 800px;
	height: 700px;
	padding: 10px;
	margin: 20px 20px 20px 20px;
	text-align: center;
}

.dragTerm {
	background-color: #2dbcfa;
	height: 40px;
	width: 110px;
	display: inherit;
	align-content: center;
	border: 1px solid black;
	padding: 10px;
	margin-top: 17px;
	margin-left: 35px;
	cursor: grab;
	font-weight: bold;
	text-align: center;
}

.termDrop {
	background-color: #ffffff;
	height: 40px;
	width: 110px;
	display: inherit;
	align-content: center;
	border: 1px solid black;
	padding: 10px;
	margin-top: 18px;
	margin-left: 9px;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

.termDef {
	background-color: #ffffff;
	overflow: auto;
	height: 50px;
	width: 250px;
	display: inherit;
	text-align: center;
	align-content: center;
	border: 1px solid black;
	padding: 10px;
	margin-top: 13px;
	margin-left: 13px;
}
.button {
	background-color: #2ee0f0;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 24px;
	margin: 8px 4px;
	opacity: 0.6;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;

}
.button:hover {opacity: 1}

#startBtn {
	float: left;
}
#undoBtn {
	float: left;
	display: none;
}
#endBtn {
	float: right;
	display: none;
}
#scoreBtn {
	float: right;
	display: none;
}
#playAgainBtn {
	float: left;
	display: none;
}

#title {
	padding: 10px;
	font-weight: bold;
	color: #000066;
}
#buttonCon {
	display: inline-block;
	height: 75px;
	width: 90%;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#term-column {
	float: left;
	display: none;
	width: 200px;
	height: 430px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	align-content: center;
}

#def-container {
	background-color: #8e9091;
	float: right;
	display: none;
	width: 500px;
	height: 500px;
	border: 1px solid black;
	padding: 10px;
	margin-right: 10px;
	align-content: center;
}
#drop-column {
	float: left;
	display: inherit;
	height: 420px;
	width: 150px;
	margin-left: 10px;
	margin-top: 20px;
	text-align: center;
	align-content: center;
}
#def-column {
	float: right;
	display: inherit;
	width: 300px;
	height: 450px;
	margin-right: 10px;
	margin-top: 20px;
	text-align: center;
	align-content: center;
}

#btn {
	width: 100px;
	background-color: #333366;
	color: #ccccaa;
	margin: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}
